<div class="nested-fields">
  <%= f.file_field :image, class: "dropify" %>
  <%= link_to_remove_association "Cancel", f, class: "btn btn-default form-control mb-xs-20"%>
</div>

<%= render 'admin/share/dropify' %>