<%= form_tag admin_articles_path, method: "get" do %>
  <div class="input-group">
    <%= text_field_tag :query, params[:query], placeholder: "Search Here", class: "form-control"%>
    <!-- wrong: text_field_tag 'Search' -->
    <span class="input-group-btn">
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <i class="fa fa-search"></i>
      <% end %>
    </span> 
  </div>
<% end %>

<%= link_to "Back to All Articles", admin_articles_path, class: "btn btn-default form-control mt-xs-5 mb-xs-20", id: "visibility-toggle" %>