<%= error_msg @admin_article %>
<h1>Edit Article</h1>
<%= link_to "Back to List", admin_articles_path, class: "btn btn-default" %>
<%= render "form", article: @admin_article, html:{class: "test"} %>      

<!-- how to insert html class??? -->
<!-- html: { class: form_class } -->