<div class="slideshow-wrapper">
  <ul class="cb-slideshow">
    <% @article.slide_images.each do|image|%>
      <li><span style="background-image: url(<%= image.url %>)"></span></li>
    <% end %>
  </ul>
</div>