<!-- To Be Deleted -->
<!-- <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  # <span><%#= alert %></span>
  <%# obj.errors.full_messages.each do |msg| %>
    <span class="btn btn-default"><%= msg %></span>
  <%# end %>
</div> -->
