<table class="table xs-transform mt-xs-20">
  <thead class="hidden-xs">
    <tr>
      <td class="col-sm-2">Page</td>
      <td class="col-sm-3">Title</td>
      <td class="col-sm-5">Meta Description</td>
    </tr>
  </thead>
  <tbody>
    <% @meta.each do |metum|%>
    <tr>
      <td class="col-sm-2"><%= metum.page_name %></td>
      <td class="col-sm-3"><%= metum.title %></td>
      <td class="col-sm-5"><%= metum.meta_description %></td>
      <td class="col-sm-1">
        <%= link_to edit_admin_metum_path(metum), class: "btn btn-primary" do%>
          <i class="fa fa-bolt fa-fw"></i>
        <% end %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>