<div class="nav-header">
      <h1 class="nav-title"><%= link_to "Funario", root_path %></h1>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links">
    <%= link_to "文章", articles_path %>
    <%= link_to "作者", authors_path %>
    <a href="#">Pinterest</a>
  </div>